<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>

      <endpoint name="Pub.Test_SRV" address="net.tcp://localhost:3030/Server.ServiceLayer.Pub.Test_SRV" binding="customBinding" contract="Common.Contract.Pub.ITest"></endpoint>

      <!--VersionManage-->
      <endpoint name="Server.ServiceLayer.AutoUpdate.VersionManageSL" address="net.tcp://localhost:3030/Server.ServiceLayer.AutoUpdate.VersionManageSL" binding="customBinding" contract="Common.Contract.AutoUpdate.IVersionManage"></endpoint>

      <!--注册电脑信息-->
      <endpoint name="Server.ServiceLayer.Moniitor.ComputerInfoSL" address="net.tcp://localhost:3030/Server.ServiceLayer.Moniitor.ComputerInfoSL" binding="customBinding" contract="Common.Contract.Monitor.IComputerInfo"></endpoint>

      <!--File-->
      <endpoint name="Server.ServiceLayer.Moniitor.FileSL" address="net.tcp://localhost:3030/Server.ServiceLayer.Moniitor.FileSL" binding="customBinding" contract="Common.Contract.Monitor.IFile">
      </endpoint>



    </client>
    <!--数据压缩客户端配置-->
    <extensions>
      <bindingElementExtensions>
        <add name="compactMessageEncoding" type="STARS.SOAERP.CompactMessageEncodingElement, CompactMessageEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>
  <appSettings>

    <add key="Address" value="180.168.142.114"/>
    <add key="Port" value="826"/>
    <add key="PortName" value="Server"/>
    
  </appSettings>
</configuration>