<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
 
      <!--VersionManage-->
      <endpoint name="Server.ServiceLayer.AutoUpdate.VersionManageSL" address="net.tcp://180.168.142.114:826/Server.ServiceLayer.AutoUpdate.VersionManageSL" binding="customBinding" contract="Common.Contract.AutoUpdate.IVersionManage"></endpoint>

      <!--注册电脑信息-->
      <endpoint name="Server.ServiceLayer.Moniitor.ComputerInfoSL" address="net.tcp://180.168.142.114:826/Server.ServiceLayer.Moniitor.ComputerInfoSL" binding="customBinding" contract="Common.Contract.Monitor.IComputerInfo"></endpoint>

      <!--File-->
      <endpoint name="Server.ServiceLayer.Moniitor.FileSL" address="net.tcp://180.168.142.114:826/Server.ServiceLayer.Moniitor.FileSL" binding="customBinding" contract="Common.Contract.Monitor.IFile"></endpoint>

      <!--用户登录-->
      <endpoint name="YpeuEe.ServerService.Message.SMessage" address="net.tcp://180.168.142.114:826/YpeuEe.ServerService.Message.SMessage" binding="customBinding" contract="YpeuEe.PublicContract.Message.IMessage"></endpoint>
      <endpoint name="YpeuEe.ServerService.Message.SFeedback" address="net.tcp://180.168.142.114:826/YpeuEe.ServerService.Message.SFeedback" binding="customBinding" contract="YpeuEe.PublicContract.Message.IMessage"></endpoint>


    </client>


  </system.serviceModel>
  <appSettings>

 

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
