<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key   要启用内部log4net的日志记录指定以下的appSettings键 -->
    <add key="Common.Log4net.Internal.Debug" value="true"/>
  </appSettings>

  <!--站点日志配置部分-->
  <log4net>
    <root>
      <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
      <!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
      <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <appender name="RollingFileAppender" type="Common.log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <file value="Logs\Log.txt"/>
      <!--附加到文件-->
      <appendToFile value="true" />
      <!--滚动样式-->
      <rollingStyle value="Size" />
      <!--最大尺寸滚动备份-->
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <!--静态日志文件名称-->
      <staticLogFileName value="true" />
      <!--多线程时采用最小锁定-->
      <lockingModel type="Common.log4net.Appender.FileAppender+MinimalLock"/>
     
      <!--日志格式-->
      <layout type="Common.log4net.Layout.PatternLayout">
        <header value="================[Header 小土豆桌面便签日志-开始]====================&#13;&#10;" />
        <footer value="================[Footer 小土豆桌面便签日志-结束]=====================&#13;&#10;" />
        <conversionPattern value="%newline-----------------------------------------%newlineData：%date %newlineThread：[%thread] %newlineLevel：%-5level %newlineLogger：%logger [%ndc] &lt;%property{auth}&gt; %newlineMessage：%message%newline" />
      </layout>
    </appender>

  </log4net>
</configuration>